<a href="https://colab.research.google.com/github/nvisagan/DS-Unit-2-Regression-Classification/blob/master/module2/assignment_regression_classification_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science, Unit 2: Predictive Modeling

# Regression & Classification, Module 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Do the [Plotly Dash](https://dash.plot.ly/) Tutorial, Parts 1 & 2.
- [ ] Add your own stretch goal(s) !

In [0]:
# If you're in Colab...
import os, sys
in_colab = 'google.colab' in sys.modules

if in_colab:
    # Install required python packages:
    # pandas-profiling, version >= 2.0
    # plotly, version >= 4.0
    !pip install --upgrade pandas-profiling plotly
    
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification.git
    !git pull origin master
    
    # Change into directory for module
    os.chdir('module1')

In [0]:
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv('../data/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [6]:
df

       bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0            1.5         3  ...                 0                    0
1            1.0         2  ...                 0                    0
2            1.0         1  ...                 0                    0
3            1.0         1  ...                 0                    0
4            1.0         4  ...                 0                    0
5            2.0         4  ...                 0                    0
6            1.0         2  ...                 0                    0
7            2.0         1  ...                 0                    0
8            1.0         1  ...                 0                    0
9            2.0         4  ...                 0                    0
10           1.0         0  ...                 0                    0
11           1.0         1  ...                 0                    0
12           1.0         2  ...                 0                    0
13           2.0         2  ...                 0                    0
14           1.0         1  ...                 0                    0
15           1.0         0  ...                 0                    0
16           1.0         2  ...                 0                    0
17           1.0         1  ...                 0                    0
18           1.0         4  ...                 0                    0
19           1.0         1  ...                 0                    0
20           1.0         3  ...                 0                    0
21           1.0         2  ...                 0                    0
22           1.0         1  ...                 0                    0
23           1.0         1  ...                 0                    0
24           2.0         4  ...                 0                    0
25           3.5         4  ...                 0                    0
26           1.0         1  ...                 0                    0
27           1.0         1  ...                 0                    0
29           2.0         2  ...                 0                    0
30           1.0         0  ...                 0                    0
...          ...       ...  ...               ...                  ...
49322        1.0         1  ...                 0                    0
49323        1.0         1  ...                 0                    0
49324        1.0         0  ...                 0                    0
49325        1.0         2  ...                 0                    0
49326        2.0         2  ...                 0                    0
49327        1.0         1  ...                 0                    0
49328        1.0         1  ...                 0                    0
49329        1.0         2  ...                 0                    0
49330        1.0         1  ...                 0                    0
49331        1.5         0  ...                 0                    0
49332        1.0         2  ...                 0                    0
49333        1.0         1  ...                 0                    0
49334        2.0         2  ...                 0                    1
49335        1.0         1  ...                 0                    0
49336        2.0         3  ...                 0                    0
49337        1.0         0  ...                 0                    0
49338        2.0         3  ...                 0                    0
49339        1.0         3  ...                 0                    0
49340        1.0         1  ...                 0                    0
49341        1.0         0  ...                 0                    1
49342        1.0         1  ...                 0                    0
49343        1.0         1  ...                 0                    0
49344        1.0         1  ...                 0                    0
49345        1.0         1  ...                 0                    0
49346        1.0         1  ...                 0                    0
49347        1.0         2  ...                 0                    0
49348        1.0         1  ...                 0                    1
49349        1.0         1  ...                 0                    0
49350        1.0         0  ...                 0                    0
49351        1.0         2  ...                 0                    0

[48817 rows x 34 columns]

Fit a linear regression to two features

In [0]:
import itertools
import numpy as np
import plotly.express as px
import plotly.graph_objs as go
from sklearn.linear_model import LinearRegression

def regression_3d(df, x, y, z, num=100, **kwargs):
    """
    Visualize linear regression in 3D: 2 features + 1 target
    
    df : Pandas DataFrame
    x : string, feature 1 column in df
    y : string, feature 2 column in df
    z : string, target column in df
    num : integer, number of quantiles for each feature
    """
    
    # Plot data
    fig = px.scatter_3d(df, x, y, z, **kwargs)
    
    # Fit Linear Regression
    features = [x, y]
    target = z
    model = LinearRegression()
    model.fit(df[features], df[target])    
    
    # Define grid of coordinates in the feature space
    xmin, xmax = df[x].min(), df[x].max()
    ymin, ymax = df[y].min(), df[y].max()
    xcoords = np.linspace(xmin, xmax, num)
    ycoords = np.linspace(ymin, ymax, num)
    coords = list(itertools.product(xcoords, ycoords))
    
    # Make predictions for the grid
    predictions = model.predict(coords)
    Z = predictions.reshape(num, num).T
    
    # Plot predictions as a 3D surface (plane)
    fig.add_trace(go.Surface(x=xcoords, y=ycoords, z=Z))
    
    return fig

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

model = LinearRegression()

#split data train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test
train = ((df['created'].str.contains('2016-04')) | (df['created'].str.contains('2016-05')))
training_df = df[train]
testing_df = df[df['created'].str.contains('2016-06')]

##choose Features
features = ['bathrooms','bedrooms','latitude','longitude']
target = 'price'


##set X and y
X_train = training_df[features]
y_train = training_df[target]

X_test = testing_df[features]
y_test = testing_df[target]

#fit model
model.fit(X_train,y_train)

y_pred = model.predict(X_test)



# model.score(X_train,y_train)

In [11]:
print('Intercept', model.intercept_)
coefficients = pd.Series(model.coef_, features)
print(coefficients.to_string())

Intercept -1283306.4906902895
bathrooms     2002.796610
bedrooms       428.451529
latitude      1863.915192
longitude   -16328.426476

In [18]:
print("MAE ", mean_absolute_error(y_test, y_pred))

MAE  744.975265812059

In [19]:
r2 = model.score(X_test, y_test)
r2

0.5882903576478155

In [22]:
from math import sqrt
rms = sqrt(mean_squared_error(y_test, y_pred))
rms

1131.1950868928673